body {
    background-color: rgb(5, 5, 5);
    color:rgb(220, 220, 220);
    font-family: 'Baloo Tammudu 2';
}

#videoLoop {
    margin-bottom: 1000px;
    color: rgb(5, 5, 5);
    position: fixed;
    z-index: -3;
    width: 98%;
}

#logo {
    position: relative;
    top: 60px;
    left: 49%;
    width: 40px;
}

#titulo {
    position: relative;
    top: 30px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 3px rgb(70, 70, 70);
    font-family: 'Baloo Tammudu 2';
    font-style: italic;
    font-size: 40px;
}

#subtitulo {
    position: relative;
    top: -30px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 3px rgb(70, 70, 70);
    font-family: 'Baloo Tammudu 2';
    font-size: 18px;
}

#menu {
    position: relative;
    width: 100%;
    background-color: rgb(5, 5, 5);
}

#tablaMenu {
    position: relative;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.linkMenu {
    color: rgb(255, 0, 144);
    text-decoration: none;
}

.linkMenu:hover {
    color: rgb(0, 183, 235);
}

.boxPrincipal {
    position: relative;
    width: 100%;
    z-index: -2;
    background-color: rgb(5, 5, 5);
}

.boxSecundaria {
    position: relative;
    width: 100%;
    z-index: -2;
    background-color: rgb(80, 80, 80);
}

#fotoPerfil {
    margin: 10px;
    width: 200px;
}

.pie {
    position:absolute;
    width: 98%;
    z-index: -2;
    background-color: rgb(5, 5, 5);
    height: 77px;
}