body {
    background-color: rgb(5, 5, 5);
    color:rgb(220, 220, 220);
    font-family: 'Baloo Tammudu 2';
}

#videoLoop {
    position: fixed;
    z-index: -2;
    width: 100%;
}

#logo {
    position: relative;
    top: 60px;
    left: 49%;
    width: 40px;
}

#titulo {
    position: relative;
    top: 30px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 3px rgb(70, 70, 70);
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 40px;
}

#subtitulo {
    position: relative;
    top: -30px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 3px rgb(70, 70, 70);
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 18px;
}

.boxPrincipal {
    position: relative;
    width: 100%;
    z-index: -1;
    background-color: rgb(5, 5, 5);
    padding: 20px;
}